<a href="https://colab.research.google.com/github/DoctorDroid/DS-Unit-2-Linear-Models/blob/master/Copy_of_LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [20]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [14]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .5% latitudes, &
# the most extreme .5% longitudes

# df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
#         (df['price'] <= np.percentile(df['price'], 99.5)) & 
#         (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
#         (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
#         (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
#         (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

# the 'gimmie' code seemed off  so I altered it below

df = df[(df['price'] >= np.percentile(df['price'],.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], .5)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.5)) &
        (df['longitude'] >= np.percentile(df['longitude'], .5)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.5))]

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48066 entries, 0 to 49350
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bathrooms             48066 non-null  float64
 1   bedrooms              48066 non-null  int64
 2   created               48066 non-null  object
 3   description           46671 non-null  object
 4   display_address       47935 non-null  object
 5   latitude              48066 non-null  float64
 6   longitude             48066 non-null  float64
 7   price                 48066 non-null  int64
 8   street_address        48056 non-null  object
 9   interest_level        48066 non-null  object
 10  elevator              48066 non-null  int64
 11  cats_allowed          48066 non-null  int64
 12  hardwood_floors       48066 non-null  int64
 13  dogs_allowed          48066 non-null  int64
 14  doorman               48066 non-null  int64
 15  dishwasher            48066 non-null  int64
 16  no_fee                48066 non-null  int64
 17  laundry_in_building   48066 non-null  int64
 18  fitness_center        48066 non-null  int64
 19  pre-war               48066 non-null  int64
 20  laundry_in_unit       48066 non-null  int64
 21  roof_deck             48066 non-null  int64
 22  outdoor_space         48066 non-null  int64
 23  dining_room           48066 non-null  int64
 24  high_speed_internet   48066 non-null  int64
 25  balcony               48066 non-null  int64
 26  swimming_pool         48066 non-null  int64
 27  new_construction      48066 non-null  int64
 28  terrace               48066 non-null  int64
 29  exclusive             48066 non-null  int64
 30  loft                  48066 non-null  int64
 31  garden_patio          48066 non-null  int64
 32  wheelchair_access     48066 non-null  int64
 33  common_outdoor_space  48066 non-null  int64
dtypes: float64(3), int64(26), object(5)
memory usage: 12.8+ MB

In [73]:
df.sample(7)

       bathrooms  bedrooms  ... rooms rm_ratio
17098        2.0         2  ...   4.0      1.0
46839        1.0         0  ...   1.0      0.0
40583        2.0         2  ...   4.0      1.0
20959        1.0         0  ...   1.0      0.0
46326        1.0         2  ...   3.0      2.0
16215        2.0         2  ...   4.0      1.0
12142        1.0         1  ...   2.0      1.0

[7 rows x 36 columns]

In [23]:
# Feature engineering
df['rooms'] = df['bathrooms'] + df['bedrooms']
df['rm_ratio'] = df['bedrooms'] / df['bedrooms']

In [36]:
df.dropna(inplace=True)

In [37]:
# Train/Test split
train = df[df['created'] < '2016-06']
test = df[df['created'] >= '2016-06']

To verify

In [75]:
test

       bathrooms  bedrooms  ... rooms rm_ratio
0            1.5         3  ...   4.5      2.0
1            1.0         2  ...   3.0      2.0
11           1.0         1  ...   2.0      1.0
14           1.0         1  ...   2.0      1.0
24           2.0         4  ...   6.0      2.0
...          ...       ...  ...   ...      ...
49305        1.0         2  ...   3.0      2.0
49310        1.0         3  ...   4.0      3.0
49320        1.0         1  ...   2.0      1.0
49332        1.0         2  ...   3.0      2.0
49347        1.0         2  ...   3.0      2.0

[16149 rows x 36 columns]

In [76]:
train

       bathrooms  bedrooms  ... rooms rm_ratio
2            1.0         1  ...   2.0      1.0
3            1.0         1  ...   2.0      1.0
4            1.0         4  ...   5.0      4.0
5            2.0         4  ...   6.0      2.0
6            1.0         2  ...   3.0      2.0
...          ...       ...  ...   ...      ...
49345        1.0         1  ...   2.0      1.0
49346        1.0         1  ...   2.0      1.0
49348        1.0         1  ...   2.0      1.0
49349        1.0         1  ...   2.0      1.0
49350        1.0         0  ...   1.0      0.0

[30244 rows x 36 columns]


# looks good, let's start engineering features.


(Moved above for efficiency. I will add the features and then split the data instead of doubling the code.)

In [ ]:
#see above

 Fit a linear regression model with at least two features.

In [77]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
features = ['rooms','bathrooms']
target = ['price']

# Creating a variable for features matrix and target vector:
X_train = train[features]
y_train = train[target]

In [78]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30244 entries, 2 to 49350
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rooms      30244 non-null  float64
 1   bathrooms  30244 non-null  float64
dtypes: float64(2)
memory usage: 708.8 KB

In [79]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

 Get the model's coefficients and intercept.

In [80]:
model.coef_[0]

array([ 395.42970734, 1714.73109539])

In [81]:
model.intercept_[0]

435.48994854227703

Get regression metrics RMSE, MAE, and R2

In [82]:
import sklearn.metrics as metrics

In [94]:
y_pred = model.predict(X_train)
y_train = train[target]

In [95]:
mae = metrics.mean_absolute_error(y_train, y_pred)
#mse = metrics.mean_squared_error(y_train, y_pred)
rmse = np.sqrt(mse) 
      # or mse**(1\2)  
r2 = metrics.r2_score(y_train,y_pred)

print("Results of sklearn.metrics:")
print("MAE:",mae)
print("RMSE:", rmse)
print("R2:", r2)

Results of sklearn.metrics:
MAE: 802.8348110542056
RMSE: 1216.4435699221292
R2: 0.5253817327913447

In [90]:
X_test = test[features]

In [91]:
y_pred2 = model.predict(X_test)
y_test = test[target]

In [92]:
mae = metrics.mean_absolute_error(y_test, y_pred2)
#mse = metrics.mean_squared_error(y_test, y_pred2)
rmse = np.sqrt(mse) 
      # or mse**(1\2)  
r2 = metrics.r2_score(y_test,y_pred2)

print("Results of sklearn.metrics:")
print("MAE:",mae)
print("RMSE:", rmse)
print("R2:", r2)

Results of sklearn.metrics:
MAE: 809.9800076242461
RMSE: 1216.4435699221292
R2: 0.5374287923949217